<form {% for attr,value in form.attr %} {{ attr }}="{{ value }}" {% endfor %}>
    {% if form.title %}
        {% if form.title.row %}<div {% for attr,value in form.title.row %}{{ attr }}="{{ value }}"{% endfor %}>{% endif %}
            <div>
                <h1></h1>
            </div>
        {% if form.title.row %}</div>{% endif %}
    {% endif %}
</form>