<form {% for attr,value in form.attr %} {{ attr }}="{{ value }}"{% endfor %}>
    {% for content in form.contents  %}
        <div {% for arrt,value in contetn.attr %} {{ attr }}="{{ value }}" {% endfor %}>

        </div>
    {% endfor %}
</form>